.status_item{
    border-style: solid;
    display: inline-block;
    padding: 10px;
}

.inline{
    display: inline-block;
}

#status_streams_error{
    background-color: red;
}

#status_db_load{
    background-color: orange;
}

.half{
    width: 49%;
}

.graph{
    display: inline-block;
    border: solid 1px gray;
    margin: 10px;
    width: 45%;
}
